.wrapper {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        left: 8px;
        right: 8px;
        top: 0px;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }
}
.label {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75);
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 1;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.2rem;
    opacity: #161823bf;
}

.more-btn {
    padding: 8px;
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
